* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* Barra navegacion */
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
	box-shadow:
		inset 0 -3em 3em rgba(0,0,0,0.1),
			0 0  0 2px rgb(255,255,255),
			0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* .logo {
	width: 100px;
	height: 100px;
	margin-left: 50px;
} */

a {
	text-decoration: none;
	color: blue;
}

h1 {
	display: flex;
	line-height: 100px;
	margin-left: 50px;
}

.nav-bar {
	display: flex;
	margin-right: 50px;
}

.nav-bar__item {
	list-style: none;
	padding: 0 50px;
	line-height: 100px;
}

.nav-bar__item-link {
	text-decoration: none;
}

/* Container */
.container {
	width: 700px;
	margin: 20px auto;
	text-align: justify;
}